
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
  font-family: SerifaBlack;
  src: url(SerifaStd-Black.otf);
}

@font-face {
  font-family: Serifa;
  src: url(SerifaStd-Light.otf);
}

body {
  background-color: white;
  color: #2F4858;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  background-color: #009CDE;
  padding: 2em 0em 3em 0em;
  border-radius: 0;
}

h1 {
  margin-top: 1em;
  font-size: 4em;
  padding: 0em 0.5em 0em 0.5em;
  font-family: SerifaBlack;
  color: white;
/*   text-shadow: -3px 3px #84B082; */
  
/*   text-shadow: -8px 8px #ffffff; */
}



/* small {
  padding: 1em;
}
 */
h5 {
  padding: 0.5em 1em 0em 1em;
  font-weight: bold;
  color: #000000;
}

h6 {
  padding: 1em;
}

p {
  padding: 0em 1em 0.25em 1em;
  margin: 0em 3em 0em 3em
}

p:last-of-type {
  margin-bottom: 2em;
}

.btn-outline-danger {
  color: black;
  background-color: #FEDB00;
  border-color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 0.25em;
  border-radius: 0px;
/*   background-color: DBB957 */
}

.btn-outline-danger:hover {
  color: black;
  background-color: white;
  border-color: black;
  
/*   background-color: DBB957 */
}

.button {
  justify-content: center;
  align-items: center;
  text-align: center !important;
/*   color: #9CE2FC; */
}



.footer {
  background-color: #231F20 !important;
  color: white !important;
  
}

footer {
  
  width: 100%;
  padding: 0.25em !important;
}

.footer a {
  color: #FEDB00;
}

@media only screen and (min-width: 750px) {

    h5 {
       font-size: 2em;
    /*   padding: 0em 0.5em 0em 0.5em; */
    }

    h6 {
      font-size: 1.25em;
    }

    .btn {
      font-size: 1.5em !important;
    }

    h1 {
      line-height: 100%;
      font-size: 5em;

    }

    p {
      font-size: 1.25em;
      line-height: 100%;
      padding: 1em 6em 1em 6em;
    /*   color: #231651 */
    }
  footer {
    position: fixed;
    bottom: 0%;
    
  }
  p:last-of-type {
    margin-bottom: 4em;
  }
    
}